# Bu faylni .env nomi bilan saqlang va .gitignore ga qo'shing!
# BotFather orqali yangi token oling: /revoke buyrug'i bilan
VITE_BOT_TOKEN=y7692119190:AAGUxFcEan3HksRJWQbc1YP7aCxyJ2aQdnA
VITE_CHAT_ID=5728059391
