# Dependencies
node_modules/
.npm

# Build output
dist/
dist-ssr/

# Environment variables — MUHIM: Githubga chiqmasin!
.env
.env.local
.env.production

# Logs
*.log

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
